@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500&family=M+PLUS+Code+Latin:wght@400;500;600&display=swap');

* {
    /* outline: 1px solid red; */
}

:root {
    font-size: clamp(15px, 1.5vw, 1rem);
    font-family: var(--main-font);
    line-height: 1.5;
    color: var(--default-white);

    --main-font: 'M PLUS Code Latin', sans-serif;
    --side-font: 'Edu QLD Beginner', cursive;

    --default-black: rgba(19, 17, 13, 0.7);
    --default-white: rgba(255, 255, 255, 0.693);

    --dc-light-full: rgba(4, 118, 242, 1);
    --dc-light-transp: rgba(4, 118, 242, 0.8);
    --dc-dark: rgba(33, 2, 113, 0.9);

    --rand-light-full: rgba(121, 9, 73, 1);
    --rand-light-transp: rgba(121, 9, 73, 0.8);
    --rand-dark: rgb(65, 5, 23, 0.9);

    --marvel-light-full: rgba(240, 19, 30, 1);
    --marvel-light-transp: rgba(240, 19, 30, 0.8);
    --marvel-dark: rgba(105, 10, 10, 0.9);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: min(100vh, 150vh, 200vh);

    background: linear-gradient(90deg,
            var(--dc-light-full) 0%,
            var(--rand-light-full) 80%,
            var(--marvel-light-full) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION Main Window */

.window {
    margin: 20px;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);

    min-height: fit-content;

    box-sizing: border-box;
    border-radius: 10px;

    box-shadow: 0 15px 25px var(--dc-dark);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

/* SECTION: Image */
.image {
    /* max-width: max(100%, 40%); */
    min-height: max(35%, 2.5rem, 200px);
    max-height: min-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1.25 300px;

    position: relative;

    /* DIV Background */
    background-image: linear-gradient(80deg,
            var(--dc-light-full) 0%,
            var(--dc-light-transp) 40%,
            var(--dc-dark) 100%), url(./assets/DC_Bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 100%;
    /* min-width: 300px; */
    height: fit-content;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--default-black);
}

.logo img {
    /* position: absolute; */
    width: max(150px, 15%);
}

/* !SECTION */

/* SECTION: Form */
.form {
    /* max-width: max(100%, 60%); */
    padding: min(2%, 10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 780px;
    font-size: 1.2rem;

    background-color: var(--default-black);
}

p {
    padding: 0.5rem;
}

p:last-of-type {
    align-self: center;
    font-weight: 600;
}

form {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 10px;
    align-self: center;
}

form label {
    align-self: flex-start;
}

/* SECTION Text Input */
.field {
    --field-width: min(250px, 60%);
    min-width: var(--field-width);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 max(120px, 33%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* SECTION Text Entry */

.text {
    width: 80%;
    height: 2rem;
    margin: 0 0 0px;
    padding: 20px max(20px, 1rem) 0px;

    border-radius: 3px;
    border-bottom-width: 5px;
    border-bottom-color: gray;

    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);

    font-family: var(--side-font);
    font-size: 1.2rem;
    font-weight: 500;
    appearance: none;
}

.text:focus {
    border-color: var(--dc-light-transp);
    outline: none;

    border-bottom-color: var(--dc-light-full);
}

/* ANCHOR Label Edits */
.text+label {
    position: absolute;
    left: min(59px, 12%, 3.5rem);
    font-size: 0.9rem;
    font-weight: 500;

    padding: 0;
    margin: 5px -5px 1px;

    color: grey;

    transition: transform 0.2s ease-in-out;
    cursor: text;
    user-select: none;
}

.text:focus+label,
.text.not-empty+label {
    transform: translateY(-.9rem);
    font-size: 0.85rem;

    color: var(--dc-light-full);
}

.text.invalid:focus+label,
.text.invalid+label {
    transform: translateY(-.9rem);
    font-size: 0.85rem;

    color: red;
}

/* !SECTION */

/* SECTION Character Selection */
.toggle {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choice {
    width: 100%;

    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice>.field {
    width: 50%;
}

/* !SECTION */
/* !SECTION */


.button {
    font-family: var(--main-font);

    max-width: fit-content;
    align-self: center;
    cursor: pointer;
    height: fit-content;
    margin-top: 15px;
    padding: 10px 15px;

    background: linear-gradient(80deg,
            var(--dc-light-transp) 0%,
            var(--dc-dark) 60%) border-box,
        linear-gradient(80deg,
            var(--default-black) 0%,
            var(--dc-light-full) 60%) padding-box;
    border: 5px solid transparent;
    border-radius: 30px;

    font-weight: 500;
    font-size: 1.2rem;
    color: var(--default-white);

    transition: 0.3s;
}

.button:hover {
    background: linear-gradient(80deg,
            var(--dc-light-transp) 0%,
            var(--dc-dark) 60%) border-box,
        linear-gradient(80deg,
            var(--dc-light-transp) 0%,
            var(--dc-dark) 60%) padding-box;

    color: var(--dc-light-transp);
}

/* !SECTION */
/* !SECTION */