@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500&family=M+PLUS+Code+Latin:wght@400;500;600&display=swap');

* {
    /* outline: 1px solid red; */

}

:root {
    font-size: clamp(15px, 1.5vw, 1rem);
    font-family: var(--main-font);
    line-height: 1.5;
    color: var(--default-white);

    --main-font: 'M PLUS Code Latin', sans-serif;
    --side-font: 'Edu QLD Beginner', cursive;

    --default-black: rgba(19, 17, 13, 0.7);
    --default-white: rgba(255, 255, 255, 0.693);

    --dc-light-full: rgba(4, 118, 242, 1);
    --dc-light-transp: rgba(4, 118, 242, 0.8);
    --dc-dark: rgba(33, 2, 113, 0.9);

    --rand-light-full: rgb(144, 14, 177);
    --rand-light-transp: rgba(144, 14, 177, 0.8);
    --rand-dark: rgba(99, 9, 121, 0.9);

    --marvel-light-full: rgba(240, 19, 30, 1);
    --marvel-light-transp: rgba(240, 19, 30, 0.8);
    --marvel-dark: rgba(105, 10, 10, 0.9);

    --light-full: var(--rand-light-full);
    --light-transp: var(--rand-light-transp);
    --dark: var(--rand-dark);

}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: linear-gradient(90deg,
            var(--dc-light-full) 0%,
            var(--rand-light-full) 30%,
            var(--marvel-light-full) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    /* transition: background-image 2s ease-in-out; */
}

/* SECTION Main Window */

.window {
    margin: 1.5rem;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);

    box-sizing: border-box;
    border-radius: 10px;

    box-shadow: 0 15px 25px var(--dark);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;

}

/* SECTION: Image */
.image {
    /* max-width: max(100%, 40%); */
    min-height: max(35%, 2.5rem, 200px);
    max-height: min-content;
    /* max-width: fit-content; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1.25 300px;

    position: relative;

    /* DIV Background */
    background-image: linear-gradient(80deg,
            var(--light-full) 0%,
            var(--light-transp) 40%,
            var(--dark) 100%), url(./assets/Rand_Bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 100%;
    /* min-width: 300px; */
    height: fit-content;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--default-black);
}

.logo img {
    /* position: absolute; */
    width: max(150px, 15%);
}

/* !SECTION */

/* SECTION: Form */
.form {
    /* max-width: max(100%, 60%); */
    padding: min(2%, 10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 780px;
    font-size: 1.2rem;

    background-color: var(--default-black);
}

p {
    padding: 0.5rem;
    font-size: 1.25rem;
}

p:last-of-type {
    align-self: center;
    font-weight: 600;
}

form {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 10px;
    align-self: center;
}

form label {
    align-self: flex-start;
}

/* SECTION Text Input */
.field {
    --field-width: min(250px, 60%);
    min-width: var(--field-width);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 max(120px, 33%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* SECTION Text Entry */

.text {
    width: 80%;
    height: 2rem;
    margin: 0 0 0px;
    padding: 20px max(20px, 1rem) 0px;

    border-radius: 3px;
    border-bottom-width: 5px;
    border-bottom-color: gray;

    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);

    font-family: var(--side-font);
    font-size: 1.2rem;
    font-weight: 500;
    appearance: none;
}

.text:focus {
    border-color: var(--light-transp);
    outline: none;

    border-bottom-color: var(--light-full);
}

/* ANCHOR Label Edits */
.text+label {
    position: absolute;
    left: min(59px, 3.5rem, 5vw);
    font-size: 0.9rem;
    font-weight: 500;

    padding: 0;
    margin: 5px -5px 1px;

    color: grey;

    transition: transform 0.2s ease-in-out;
    cursor: text;
    user-select: none;
}

.text:focus+label,
.text.not-empty+label {
    transform: translateY(-.9rem);
    font-size: 0.75rem;

    color: var(--light-full);
}

.text.invalid:focus+label,
.text.invalid+label {
    transform: translateY(-.9rem);
    font-size: 0.75rem;

    color: rgb(206, 72, 0);
}


.text.invalid {

    border-bottom-color: rgb(206, 72, 0);
}

/* !SECTION */

/* SECTION Character Selection */

.choice {
    width: 100%;

    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice>.field {
    width: 50%;
}

/* ANCHOR Toggle */

.toggle {
    width: fit-content;
    margin: 1rem 0rem 0.2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: var(--default-black); */

    /* border: 3px solid var(--default-black);
    border-radius: 50px; */
}

.tog {
    height: 3rem;
    width: 8rem;

    appearance: none;
    border-radius: 50px;
    opacity: 0.4;
}

.tog:hover {
    cursor: pointer;
}

.tog::after {
    content: attr(data-choice);
    position: relative;
    top: .45rem;
    font-family: var(--main-font);
    font-size: 1.75rem;

    color: white;
}

.tog:hover::after,
.tog.select::after {
    color: black;
}

.tog.dc {
    background-image: linear-gradient(90deg, var(--dc-light-full) 0%, var(--default-black) 80%);
}

.tog.rand {
    background-image: linear-gradient(90deg, var(--rand-light-full) 0%, var(--default-black) 80%);
}

.tog.marvel {
    background-image: linear-gradient(90deg, var(--marvel-light-full) 0%, var(--default-black) 80%);
}

.tog.dc:hover,
.tog.dc.select {
    background-image: linear-gradient(90deg, var(--dc-light-full) 20%, var(--dc-dark) 100%);
    opacity: 1;
}

.tog.rand:hover,
.tog.rand.select {
    background-image: linear-gradient(90deg, var(--rand-light-full) 20%, var(--rand-dark) 100%);
    opacity: 1;
}

.tog.marvel:hover,
.tog.marvel.select {
    background-image: linear-gradient(90deg, var(--marvel-light-full) 20%, var(--marvel-dark) 100%);
    opacity: 1;
}

.tog.dc::after {
    left: 3.22rem;
}

.tog.rand::after {
    left: 1.32rem;
}

.tog.marvel::after {
    left: 1.32rem;
}

/* !SECTION */
/* !SECTION */


.button {
    font-family: var(--main-font);

    max-width: fit-content;
    align-self: center;
    cursor: pointer;
    height: fit-content;
    margin-top: 15px;
    padding: 10px 15px;

    background: linear-gradient(80deg,
            var(--light-transp) 0%,
            var(--dark) 60%) border-box,
        linear-gradient(80deg,
            var(--default-black) 0%,
            var(--light-full) 60%) padding-box;
    border: 5px solid transparent;
    border-radius: 30px;

    font-weight: 500;
    font-size: 1rem;
    color: var(--default-white);

    transition: 0.3s;
}

.button:hover {
    background: linear-gradient(80deg,
            var(--light-transp) 0%,
            var(--dark) 60%) border-box,
        linear-gradient(80deg,
            var(--light-transp) 0%,
            var(--dark) 60%) padding-box;

    color: var(--light-transp);
}

/* !SECTION */
/* !SECTION */